*{

margin:0;
padding:0;
box-sizing:border-box;

}



body{

font-family:Arial;
background:#f5f7fa;
color:#222;

}



/* LOGIN */


.login-page{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#004481;

}



.login-card{

background:white;

padding:40px;

border-radius:20px;

width:350px;

text-align:center;

}


.login-card input{

width:100%;

padding:15px;

margin:10px 0;

}



button{

background:#0067b1;

color:white;

border:0;

padding:14px 30px;

border-radius:25px;

cursor:pointer;

}




#error{

display:block;

color:red;

margin-top:15px;

}








/* NAV */


header{

background:white;

box-shadow:0 5px 20px #0002;

}



nav{

height:80px;

display:flex;

align-items:center;

justify-content:space-around;

}



.logo{

font-size:30px;

font-weight:bold;

color:#004481;

}



ul{

display:flex;

gap:30px;

list-style:none;

}




.drop{

position:relative;

}



.submenu{

display:none;

position:absolute;

background:white;

padding:20px;

box-shadow:0 10px 20px #0002;

}



.drop:hover .submenu{

display:block;

}



#hamb{

display:none;

font-size:30px;

}






/* HERO */


.hero{

display:flex;

justify-content:space-around;

align-items:center;

padding:80px;

background:#004481;

color:white;

}



.hero h1{

font-size:55px;

}



.hero img{

width:450px;

border-radius:20px;

}






/* GRID */


.products{

padding:70px;

}



.cards{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

margin-top:40px;

}



.cards div{

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 10px 30px #0001;

}






/* FLEX */


.info{

display:flex;

justify-content:center;

align-items:center;

gap:60px;

padding:80px;

}


.info img{

width:400px;

border-radius:20px;

}







footer{

background:#003b6f;

color:white;

display:grid;

grid-template-columns:repeat(3,1fr);

padding:50px;

}







@media(max-width:800px){


ul{

display:none;

flex-direction:column;

}


ul.active{

display:flex;

position:absolute;

top:80px;

background:white;

width:100%;

padding:30px;

}



#hamb{

display:block;

}



.hero{

flex-direction:column;

text-align:center;

}



.cards{

grid-template-columns:1fr;

}



.info{

flex-direction:column;

}



footer{

grid-template-columns:1fr;

text-align:center;

}


}