*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

font-family:Arial;
background:#111;

}



.navbar{

height:70px;
background:#181818;

display:flex;
align-items:center;
justify-content:space-between;

padding:0 8%;

}



.logo{

font-size:28px;
font-weight:bold;
color:#9b5cff;

}



.menu{

display:flex;
gap:30px;
list-style:none;

}



.menu li{

position:relative;

}



.menu a{

color:white;
text-decoration:none;
font-size:18px;

}



.menu a:hover{

color:#9b5cff;

}




/* SUBMENU */


.submenu{

position:absolute;

top:30px;
left:0;

background:#222;

width:180px;

list-style:none;

display:none;

border-radius:10px;

overflow:hidden;

}



.submenu li{

padding:12px;

}



.dropdown:hover .submenu{

display:block;

}






/* HAMBURGUESA */


.hamburger{

display:none;

font-size:35px;

color:white;

cursor:pointer;

}





@media(max-width:768px){



.hamburger{

display:block;

}



.menu{


position:absolute;

top:70px;
left:0;

width:100%;

background:#181818;


flex-direction:column;

align-items:center;

display:none;

padding:20px;


}




.menu.active{

display:flex;

}




.submenu{

position:static;

width:200px;

margin-top:10px;

}



.dropdown:hover .submenu{

display:none;

}



/* abrir submenu con click si quieres */


.dropdown.active .submenu{

display:block;

}




}