*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

font-family:Arial;

background:#050505;

color:white;

}





/* LOGIN */


.login-body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:
linear-gradient(135deg,#111,#651fff);

}



.login-container{

background:#ffffff20;

padding:40px;

border-radius:20px;

backdrop-filter:blur(20px);

}



input{

display:block;

width:250px;

padding:15px;

margin:15px;

border-radius:10px;

border:0;

}



button{

padding:12px 25px;

border:0;

border-radius:20px;

cursor:pointer;

background:#8b5cf6;

color:white;

}








/* HOME */


header{

background:#111;

padding:20px;

}



nav{

display:flex;

justify-content:space-around;

align-items:center;

}



ul{

display:flex;

gap:30px;

list-style:none;

}



#hamb{

display:none;

font-size:30px;

}







.hero{

height:80vh;

display:flex;

justify-content:space-around;

align-items:center;

}



.hero img{

width:450px;

border-radius:25px;

}





.grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

padding:50px;

}



.card{

background:#222;

padding:40px;

border-radius:20px;

}





.about{

display:flex;

justify-content:center;

gap:50px;

padding:80px;

}



.about img{

width:400px;

border-radius:20px;

}






footer{

display:grid;

grid-template-columns:repeat(3,1fr);

padding:50px;

background:#111;

}








@media(max-width:700px){


ul{

display:none;

flex-direction:column;

}



ul.active{

display:flex;

}



#hamb{

display:block;

}



.hero{

flex-direction:column;

text-align:center;

}



.hero img{

width:90%;

}



.grid{

grid-template-columns:1fr;

}



.about{

flex-direction:column;

}



footer{

grid-template-columns:1fr;

}



}