.contact-form{


padding:80px 10%;

background:#f4f7fb;


}



.form-box{


max-width:700px;

margin:auto;

background:white;

padding:45px;

border-radius:25px;


box-shadow:
0 20px 50px #0002;


}



.form-box h1{


color:#001b8d;

font-size:40px;


}




.input-group{

margin-top:20px;

}



.input-group label{

display:block;

margin-bottom:8px;

font-weight:bold;

}





input,
select,
textarea{


width:100%;

padding:15px;


border-radius:12px;


border:1px solid #ddd;


outline:none;


font-size:16px;


}





textarea{

height:130px;

resize:none;

}






.form-box button{


margin-top:25px;


width:100%;


padding:16px;


background:#001b9c;


color:white;


border:0;


border-radius:30px;


font-size:18px;


cursor:pointer;


}





#resultado{


margin-top:20px;

text-align:center;

font-weight:bold;


}





.success{

color:green;

}



.error{

color:red;

}








@media(max-width:700px){


.form-box{

padding:25px;

}


}