*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

font-family:Arial;
background:#f4f4f4;
color:#111;

display:flex;

}






/* SIDEBAR */


.sidebar{

width:250px;

height:100vh;

background:#111;

color:white;

padding:40px 25px;

position:fixed;

}



.brand{

font-size:35px;

font-weight:bold;

color:#ff4ecd;

margin-bottom:50px;

}



.sidebar ul{

list-style:none;

}



.sidebar li{

margin:25px 0;

}



.sidebar a{

color:white;

text-decoration:none;

}





.submenu{

display:none;

margin-left:20px;

color:#aaa;

}



.drop:hover .submenu{

display:block;

}






.main{

margin-left:250px;

width:100%;

}






header{

height:80px;

display:flex;

align-items:center;

padding:20px;

justify-content:space-between;

background:white;

}




.hamburger{

display:none;

font-size:30px;

cursor:pointer;

}






/* HERO FLEX */


.hero{


min-height:80vh;

padding:80px;

display:flex;

justify-content:space-between;

align-items:center;

background:
linear-gradient(120deg,#111,#ff4ecd);


color:white;

}




.hero-left{

max-width:600px;

}



.hero h1{

font-size:65px;

}



.hero button{

padding:15px 35px;

border-radius:30px;

border:0;

}






.floating{

display:flex;

gap:20px;

}



.card{

background:white;

color:black;

padding:40px;

border-radius:25px;

}









/* GRID */


.projects{

padding:70px;

}



.grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

margin-top:40px;

}



.project{

height:200px;

background:#111;

color:white;

border-radius:25px;

display:flex;

align-items:center;

justify-content:center;

}



.big{

grid-row:span 2;

height:425px;

}








/* FLEX */


.team{

padding:70px;

display:flex;

justify-content:space-around;

align-items:center;

}



.people{

display:flex;

gap:20px;

font-size:60px;

}








/* REVIEWS */


.reviews{

padding:70px;

text-align:center;

}



#review{

margin-top:30px;

font-size:25px;

}






/* FOOTER GRID */


footer{

background:#111;

color:white;

display:grid;

grid-template-columns:repeat(3,1fr);

padding:50px;

}









@media(max-width:800px){


.sidebar{

left:-250px;

transition:.3s;

}


.sidebar.active{

left:0;

}



.main{

margin:0;

}



.hamburger{

display:block;

}



.hero{

flex-direction:column;

text-align:center;

}



.hero h1{

font-size:40px;

}



.grid{

grid-template-columns:1fr;

}



.team{

flex-direction:column;

gap:40px;

}



footer{

grid-template-columns:1fr;

text-align:center;

}


}