*{

margin:0;
padding:0;

box-sizing:border-box;

}


body{

font-family:Arial;

background:#f5f7fa;

color:#07145c;

}





header{

background:white;

height:80px;

display:flex;

align-items:center;

}



nav{

width:90%;

margin:auto;

display:flex;

justify-content:space-between;

align-items:center;

}



.logo{

font-size:32px;

font-weight:bold;

}



ul{

display:flex;

gap:30px;

list-style:none;

}



.actions button{

padding:12px 25px;

border-radius:30px;

border:1px solid #0033cc;

background:white;

}



.blue{

background:#0019aa!important;

color:white;

}



.hamb{

display:none;

font-size:30px;

}







/* SLIDER */


.slider{

width:96%;

height:560px;

margin:25px auto;

position:relative;

overflow:hidden;

border-radius:25px;

}



.slider img{

width:100%;

height:100%;

object-fit:cover;

}



.hero-card{

position:absolute;

top:50%;

left:18%;

transform:translateY(-50%);

background:white;

padding:40px;

border-radius:20px;

width:420px;

}



button{

cursor:pointer;

}



.hero-card button,
.card button{

background:#0619b8;

color:white;

padding:15px 30px;

border:0;

border-radius:10px;

}



.arrow{

position:absolute;

top:50%;

z-index:5;

width:50px;

height:50px;

border-radius:50%;

border:0;

}



.left{

left:20px;

}


.right{

right:20px;

}






.dots{

text-align:center;

}



.dots span{

display:inline-block;

width:12px;

height:12px;

background:#ccc;

border-radius:50%;

margin:10px;

}


.active{

background:#0019aa!important;

}








.title{

text-align:center;

margin:60px;

font-size:42px;

}






/* CARDS */


.cards{

width:85%;

margin:auto;

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

}



.card{

background:white;

padding:25px;

border-radius:25px;

}



.card img{

width:100%;

height:230px;

object-fit:cover;

border-radius:15px;

}



.card h2{

margin:25px 0;

}





/* GALERIA */


.gallery{

width:90%;

margin:auto;

display:grid;

grid-template-columns:1fr 1fr;

gap:25px;

}




.big-card,
.small-card{

background:white;

border-radius:25px;

padding:25px;

}




.big-card img{

width:100%;

height:280px;

object-fit:cover;

border-radius:20px;

}





.small-area{

display:flex;

flex-direction:column;

gap:25px;

}




.small-card{

display:flex;

gap:25px;

align-items:center;

}



.small-card img{

width:220px;

height:180px;

object-fit:cover;

border-radius:20px;

}







footer{

margin-top:80px;

background:#001a8d;

color:white;

padding:60px;

display:grid;

grid-template-columns:repeat(4,1fr);

}








@media(max-width:800px){


ul,
.actions{

display:none;

}


.hamb{

display:block;

}



.hero-card{

left:50%;

width:85%;

transform:translate(-50%,-50%);

}




.cards,
.gallery,
footer{

grid-template-columns:1fr;

}



.small-card{

flex-direction:column;

}



.slider{

height:500px;

}

}